[run]
source = code_tokenizer
omit =
    */site-packages/*
    */tests/*
    setup.py
    conftest.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise ImportError
    except ImportError:
    def main\(\):

[html]
directory = coverage_html

[xml]
output = coverage.xml 